@model AFI.Project.Web.Areas.AFIQuoteForm.Models.HillAFBForm.HillAFBForm

@foreach (var section in Model.form.sections)
{

    if (section.id == "policyHolder")
    {
        @Html.Partial("~/Views/AFI/Quote/Partial/AFB/_StepOne.cshtml", Model)
    }
    if (section.id == "submitQuote")
    {
        @Html.Partial("~/Views/AFI/Quote/Partial/AFB/_StepTwo.cshtml", Model)
    }
}


<section class="quote_request__action_buttons">
    <div class="container d-flex">
        <button id="small_back_btn" class="button button__back button__left hide" type="button">@Model.form.backButtonText</button>
        <button id="small_next_btn" class="button button__next button__right" type="submit">@Model.form.nextButtonText</button>
    </div>
</section>


<script>
    var successRedirection = "/Quote-Forms-Save-Success";
</script>




