.landing-page-hero__wrapper {
  display: block;
  position: relative;
  /* background: url(./img/videohero_auto1.jpg); */
  max-width: 1600px;
  margin: auto;
  padding: 20px;
}

.auto__hero .video__container {
  width: 100%;
  aspect-ratio: 16 / 8;
  overflow: hidden;
  position: relative;
}

.auto__hero .video__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #000; */
  user-select: none;
  z-index: 1;
}

.auto__hero iframe.video {
  aspect-ratio: 16 / 9;
  transform: translate(-5%, -10%);
  width: 105%;
}

@media screen and (min-width: 64em) {
  .landing-page-hero__wrapper {
    display: block;
    /* height: 32.5rem; */
    overflow: hidden;
    padding: 25px;
  }
}

/* ======= */
.hero_content_wrapper {
  position: relative;
}

.auto__hero .quote-start {
  position: absolute;
  bottom: 20px;
  right: 20px;
  max-width: 287px;
  z-index: 2;
  color: #fff;
}

.auto__hero .quote-start {
  background-image: linear-gradient(120deg, #cb2c30, #881b26);
  background-image: linear-gradient(
    120deg,
    var(--color-red-10),
    var(--color-red-20)
  );
  color: #fff;
  color: var(--color-white);
  padding: 2.75rem 2.25rem;
}

.auto__hero .quote-start__type-image {
  height: 2.9375rem;
  width: auto;
}

.auto__hero .quote-start__heading {
  margin-top: 0.8rem !important;
}

.auto__hero .quote-start__upper-wrapper p {
  line-height: 2 !important;
}

.auto__hero .quote-start__controls .button {
  width: 100%;
  font-size: 1.125rem;
}

@media screen and (max-width: 991px) {
  .auto__hero .quote-start {
    display: none;
  }

  .auto__hero iframe.video {
    transform: translate(-10%, -20%);
    width: 120%;
  }
}
/* @media screen and (max-width: 500px) {
        .auto__hero iframe.video {
          transform: translate(-20%, -40%);
          width: 140%;
        } 
      }*/
