<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <services>
      <register serviceType="AFI.Feature.QuoteForm.Areas.AFIQuoteForm.Controllers.FormAPIController, AFI.Feature.QuoteForm" implementationType="AFI.Feature.QuoteForm.Areas.AFIQuoteForm.Controllers.FormAPIController, AFI.Feature.QuoteForm" />

      
      <register serviceType="AFI.Feature.QuoteForm.Areas.AFIQuoteForm.Repository.IAutoQuoteFormRepository, AFI.Feature.QuoteForm" implementationType="AFI.Feature.QuoteForm.Areas.AFIQuoteForm.Repository.AutoQuoteFormRepository, AFI.Feature.QuoteForm" />

		<register serviceType="AFI.Feature.QuoteForm.Areas.AFIWEB.Controllers.FormsController, AFI.Feature.QuoteForm" implementationType="AFI.Feature.QuoteForm.Areas.AFIWEB.Controllers.FormsController, AFI.Feature.QuoteForm" />
		
		<register serviceType="AFI.Feature.QuoteForm.Areas.AFIWEB.Controllers.AFIReportController, AFI.Feature.QuoteForm" implementationType="AFI.Feature.QuoteForm.Areas.AFIWEB.Controllers.AFIReportController, AFI.Feature.QuoteForm" />

    </services>
  </sitecore>
</configuration>