<?xml version="1.0"?>
<configuration
	xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="AFI Serialization" description="AFI Project Serialization">
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true" >
						<!--Templates-->
						<include name="Master.Template.Branches" database="master" path="/sitecore/templates/Branches/Project" />
						<include name="Master.Template.Features" database="master" path="/sitecore/templates/Feature/AFI" />
						<!--	<include name="Template.Foundations" database="master" path="/sitecore/templates/Foundation/AFI" /> -->
						<include name="Master.Template.Projects" database="master" path="/sitecore/templates/Project/AFI" />
						<!--Layout-->
						<include name="Master.Layouts" database="master" path="/sitecore/layout/Layouts/Foundation/Experience Accelerator" />
						<!--	<include name="Placeholders" database="master" path="/sitecore/layout/Placeholder Settings" /> -->
						<include name="Master.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/AFI" />
						<!--Content-->
					<!--	<include name="Master.Content" database="master" path="/sitecore/content/AFI" />-->
						<!--Media-->
					<!--	<include name="Master.Media" database="master" path="/sitecore/media library/Project" />-->
						<!--system-->
					<!--<include name="Master.System" database="master" path="/sitecore/system" />-->	
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
