/*==============================
        COMMON CODE
 ==============================*/
:root {
  --color-black: #000;
  --color-white: #fff;
  --wayfinder-gray: #d1d1d1;
  --action-button-gray-10: #d6d6d6;
  --color-gray-10: #f6f6f6;
  --color-gray-20: #898d8d;
  --color-gray-30: #363636;
  --color-red-10: #cb2c30;
  --color-red-20: #881b26;
  --color-red-30: #4a1010;
  --color-blue-10: #0570c5;
  --color-blue-20: #025699;
  --color-blue-30: #004976;
  --color-blue-40: #003864;
  --color-green-10: #bee8c0;
  --color-green-20: #104a12;
  --color-pink-10: #fee8e9;
  --color-pink-20: #e8bebe;

  --afi-blue-900: #003864;
  --afi-blue-700: #004976;
  --afi-blue-500: #0570c5;
  --afi-blue-300: #9bc6ea;
  --afi-blue-200: #f6fbff;
  --afi-blue-100: #e3edff;
  --afi-red-500: #cb2c30;
  --afi-red-700: #881b26;
  --afi-grey-700: #898d8d;

  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "Zilla Slab", serif;
  --font-family-icons: "afi-icon";
  --base-font-size: 1em;
  --page-width: 80rem;
  --spacing-horizontal: 1rem;
  --spacing-vertical: 1.5rem;
  --gutter-width: 1rem;
  --border-radius: 0.25rem;
  --anim-duration: 0.5s;
  --anim-duration-half: 0.25s;
  --anim-duration-quarter: 0.125s;
  --anim-easing: ease-in-out;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  font-size: 100% !important;
}

body {
  overflow-x: hidden;
  background-color: #fff !important;
  font-family: "Roboto", sans-serif !important;
  font-family: var(--font-family-primary) !important;
  transition: transform 0.25s;
  font-size: 16px !important;
  color: #000;
}

/* body::-webkit-scrollbar {
    display: none;
  } */

section,
header,
footer {
  width: 100%;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  /* list-style: none !important; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  margin-bottom: 1.125rem !important;
  font-weight: 400 !important;
  padding: 0 !important;
}

h1,
h2,
h3 {
  font-family: Zilla Slab, serif !important;
  font-family: var(--font-family-secondary);
}

h1 {
  font-size: 2rem !important;
}

h2 {
  font-size: 1.5rem !important;
}

a {
  text-decoration: none !important;
  color: #0570c5 !important;
  color: var(--color-blue-10) !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px !important;
}

a:hover {
  color: #003864 !important;
  color: var(--color-blue-40) !important;
  text-decoration: underline !important;
}


button,
button:focus,
input,
input:focus,
textarea,
textarea:focus {
  outline: 0;
  outline-offset: 0;
}

p {
  line-height: 1.8 !important;
  margin: 0 0 1.5rem;
  margin: 0 0 var(--spacing-vertical) !important;
  font-size: 16px !important;
}

input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  border: 1px solid #898d8d;
  border-radius: 0.375rem;
  font-size: 1rem;
  padding: 0.375rem 0.5rem;
}

i.fa {
  font-size: 15px;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

/********************************************************
*                   Unnecessary
********************************************************/
/* 01 May */
.content,
.rich-text {
  border: none !important;
}

/* Mohi vai */

.landing-page-hero__wrapper {
  text-align: center;
  /*   max-height: 32.5rem;*/
  overflow: hidden;
}

.landing-page-hero_maxwidth {
  width: 100%;
  height: auto;
}

@media screen and (min-width:1200px) {
  .landing-page-hero_maxwidth {
    max-width: 1600px;
    margin: auto;
    height: 32.5rem;
  }
}

.component-space-top-bottom {
  padding: 2.75rem 0 !important;
}

/* 03 May */

.component-content {
  color: #000 !important;
  border: 0 !important;
}

.content,
.rich-text {
  color: #000 !important;
  border: none !important;
  line-height: 24px !important;
  font-size: 16px !important;
  overflow: hidden;
}

.content li,
.rich-text li {
  font-size: 16px !important;
  /* list-style: none !important; */
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.component-content,
.component {
  padding: 0 !important;
}

.component.pe-lg-4 {
  padding-right: 1rem !important;
}

.row {
  --bs-gutter-x: 0 !important;
}

.Mtag {
  /* color: #c51c1c; */
  text-decoration: underline;
}

/* ***************************************** */
/*        COMMON CLASSES WITH STYLES         */
/* ***************************************** */
ul.disc {
  list-style: disc !important;
  padding-left: 23px !important;
  margin-left: 0 !important;
}

ul.disc li {
  list-style: disc !important;
}

ul.list-style-none,
ul.list-style-none li,
.list-style-none ul,
.list-style-none li {
  list-style: none !important;
}

ul.disc li {
  list-style: disc !important;
}

li {
  list-style-position: outside !important;
}

.heading-red,
.heading-red h1,
.heading-red h2 {
  color: #c00000 !important;
  font-weight: 700 !important;
}

.blue_10 {
  color: #0570c5 !important;
  color: var(--color-blue-10);
}

.button {
  background-color: #0570c5 !important;
  border-color: #0570c5 !important;
  color: #fff !important;
  border-radius: 1.625rem;
  border-style: solid;
  cursor: pointer;
  display: inline-block !important;
  font-size: 1rem;
  font-weight: 400;
  width: 9.25rem;
  opacity: 1;
  padding: 8px 20px;
  /* padding: 12px 20px; */
  text-align: center !important;
  transition: background-color 0.25s, border-color 0.25s, color 0.25s,
    opacity 0.25s;
}

.button:hover,
.button a:hover {
  background-color: #025699;
  background-color: var(--color-blue-20) !important;
  border-color: #025699;
  border-color: var(--color-blue-20) !important;
  color: #fff;
  color: var(--color-white) !important;
  text-decoration: none !important;
  border-radius: 1.625rem !important;
}

.border__button,
.border__button__blue {
  background-color: transparent !important;
  border: 0.125rem solid #fff !important;
  border: 0.125rem solid var(--color-white) !important;
  color: #fff !important;
  color: var(--color-white) !important;
}


.border__button:hover {
  background: #fff !important;
  color: #003864 !important;
  color: var(--color-blue-40);
  border: 0.125rem solid #fff;
  border: 0.125rem solid var(--color-white);
}

.border__button__blue:hover {
  background: #025699 !important;
  color: #fff !important;
  border: 0.125rem solid #025699;
}

.yellow__btn {
  color: #515151 !important;
  background-color: rgb(236, 189, 0) !important;
  border-color: rgb(236, 189, 0) !important;
}

.yellow__btn:hover {
  color: #fff !important;
  background-color: rgb(191, 154, 6) !important;
  border-color: rgb(191, 154, 6) !important;
}

.blue__border__btn a {
  background-color: transparent !important;
  border: 0.125rem solid #0070ab !important;
  color: #0070ab !important;
}

.blue__border__btn a:hover {
  background-color: #045494 !important;
  border-color: #045494 !important;
  color: #fff;
  text-decoration: none;
}

.auto__width__btn .button,
.button.auto__width__btn {
  width: auto !important;
}



[class*="icon-"],
[class^="icon-"] {
  font-family: afi-icon !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button--small-text {
  font-size: 0.75rem !important;
}

.small_italic_text {
  font-style: italic !important;
  font-size: 13px !important;
  font-family: "Roboto", sans-serif !important;
  font-family: var(--font-family-primary) !important;
}

.extra_small_italic_text {
  font-size: 10px !important;
  margin-top: 50px !important;
}

@media screen and (max-width:991px) {
  .small_italic_text {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}

.blue__text {
  color: #004976 !important;
}

.text-5xl {
  font-size: 3rem !important;
  line-height: 1.25 !important;
}

.text-4xl {
  font-size: 2.25rem !important;
  line-height: 2.5rem !important;
}

.text-3xl {
  font-size: 1.875rem !important;
  line-height: 2.25rem !important;
}

.heading_normal {
  color: #000 !important;
  border: none !important;
}



/********************************************************
*                   VOTE PAGES
********************************************************/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  font-size: 100%;
}

body {
  overflow-x: hidden;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  transition: transform 0.25s;
  font-size: 16px;
  color: #000;
}

/* body::-webkit-scrollbar {
    display: none;
  } */

section,
header,
footer {
  width: 100%;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: Zilla Slab, serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #0570c5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a:hover {
  color: #003864;
  text-decoration: underline;
}


button,
button:focus,
input,
input:focus,
textarea,
textarea:focus {
  outline: 0;
  outline-offset: 0;
}

.button {
  background-color: #0570c5;
  border-color: #0570c5;
  color: #fff;
  border-radius: 1.625rem;
  border-style: solid;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  width: 9.25rem;
  opacity: 1;
  padding: 8px 20px;
  /* padding: 12px 20px; */
  text-align: center;
  transition: background-color 0.25s, border-color 0.25s, color 0.25s,
    opacity 0.25s;
}

.button:hover,
.button a:hover {
  background-color: #025699;
  border-color: #025699;
  color: #fff;
  text-decoration: none;
  border-radius: 1.625rem;
}

/******************* Header *******************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  min-height: 64px;
}

header .back {
  padding-left: 10px;
}

header .back img {
  max-width: 40px;
}

header .user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

header .username {
  margin-right: 10px;
}

header .logout-btn {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

header .logout-btn:hover {
  background-color: white;
  color: #333;
}


header nav ul {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 20px 10px;
  gap: 20px;
  background-color: #333;
  color: white;
}

/* ----------- header-banner ------------- */
.header-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 20px;
  color: #333;
}

.header-banner .title h1 {
  font-weight: 600 !important;
}

@media screen and (max-width:991px) {
  .header-banner {
    padding: 20px;
    margin-bottom: 20px;
  }

  .header-banner .logo img {
    max-width: 100px;
  }
}

/* ------------------ CONTAINER ------------------ */
.content-container {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

/******************* GRID STYLES *******************/
.grid-container {
  max-width: unset !important;
  margin: 0;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(120deg, rgba(227, 47, 53, 0.9), rgba(72, 8, 14, 0.9));
}

.grid-container.with__header {
  min-height: calc(100vh - 64px);
}

.grid-container .box-container {
  max-width: 1000px;
  width: 92%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 20px #0003;
}

.grid-container .logo-container.block {
  display: block;
}

.icon-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.configure-box .logo,
.grid-container .logo-container .logo {
  text-align: center;
  margin-bottom: 20px;
}

.configure-box .logo img,
.grid-container .logo-container .logo img {
  max-width: 120px;
}

.configure-box .logo img {
  background: #fff;
  padding: 10px;
  max-width: 160px;
}

.content-container {
  width: 90%;
  max-width: 1380px;
  margin: auto;
}

@media screen and (max-width:991px) {
  .grid-container .box-container {
    display: block;
  }
}

/* Table style */
.table-style table,
.table-style td,
.table-style th {
  border: 1px solid #ccc !important;
}

.table-style thead th {
  background: #555;
  color: #fff;
}

.table-style tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-style {
  overflow-x: auto;
}

/********************************************************
*                   Loader
********************************************************/
#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 9999999999999;
  background: #fff !important;
}

#page-loader img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  animation: loader 0.7s linear infinite alternate;
}

@keyframes loader {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}