@using Sitecore.ExperienceForms.Mvc.Html
@model Sitecore.ExperienceForms.Mvc.Models.Fields.FieldViewModel

<div data-sc-field-key="@Model.ConditionSettings.FieldKey" class="@Model.CssClassSettings.CssClass">
    @Html.RenderFields(Model)
</div>
