<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <services>     
      <register serviceType="AFI.Feature.ZipLookup.IZipLookupService, AFI.Feature.ZipLookup" implementationType="AFI.Feature.ZipLookup.ZipLookupService, AFI.Feature.ZipLookup" />
    </services>
  </sitecore>
</configuration>