<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <services>
      <register serviceType="AFI.Feature.NewsLetter.Controllers.NewsLetterController, AFI.Feature.NewsLetter" implementationType="AFI.Feature.NewsLetter.Controllers.NewsLetterController, AFI.Feature.NewsLetter" />
      <register serviceType="AFI.Feature.NewsLetter.Repository.INewsLetterRepository, AFI.Feature.NewsLetter" implementationType="AFI.Feature.NewsLetter.Repository.NewsLetterRepository, AFI.Feature.NewsLetter" />
    </services>
  </sitecore>
</configuration>