<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <services>     
      <register serviceType="AFI.Feature.VinLookup.IVinLookupService, AFI.Feature.VinLookup" implementationType="AFI.Feature.VinLookup.VinLookupService, AFI.Feature.VinLookup" />
    </services>
  </sitecore>
</configuration>