<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <services>
      <register serviceType="AFI.Feature.Prospect.Controllers.ProspectController, AFI.Feature.Prospect" implementationType="AFI.Feature.Prospect.Controllers.ProspectController, AFI.Feature.Prospect" />
		
		<register serviceType="AFI.Feature.Prospect.Repositories.ISuspectMarketingRepository, AFI.Feature.Prospect" implementationType="AFI.Feature.Prospect.Repositories.SuspectMarketingRepository, AFI.Feature.Prospect" />
		
		<register serviceType="AFI.Feature.Prospect.Repositories.IProspectMarketingTrackRepository, AFI.Feature.Prospect" implementationType="AFI.Feature.Prospect.Repositories.ProspectMarketingTrackRepository, AFI.Feature.Prospect" />
		
		<register serviceType="AFI.Feature.Prospect.Repositories.ISuspectMarketingRepositoryTemp, AFI.Feature.Prospect" implementationType="AFI.Feature.Prospect.Repositories.SuspectMarketingRepositoryTemp, AFI.Feature.Prospect" />
    </services>
  </sitecore>
</configuration>