  <link rel="stylesheet" href="~/asset/css/vote-form.css" />

	
	<section class="vote-step-two">
      <div class="container">
        <section class="form">
          <section class="left__side">
            <div data-sc-field-key="7E353E1DD416404BB3AE6112652B07B2" class="">
			   <div class="logo-container"><img src="/-/media/project/afi/afi/logo.png?;hash=A20297A86600846B3D04336E8D863894" alt="afi"   data-variantfieldname="Image" alt="logo" class="logo" /></div>
              <h2 data-sc-field-key="FD5986C474914EBEA97EB0C9BD101976" class="vote-header">Vote For 2022 AFI Subscribers'</h2>
              <h2 data-sc-field-key="B105ADB2C2184B37BEF705E2D2FDB0B9" class="vote-header">Advisory Committee</h2>
            </div>
            <div data-sc-field-key="1927B71BA0FC42DE98FE0600B4546433" class="txtbody">
              <p data-sc-field-key="EE30BBCE73C94D78A1284F89A59C40A1" class="txt-dear">Dear Dennis Payne,</p>
              <p data-sc-field-key="43BB6842D7104574A37E5EF4B9D6C094" class="">
                KNOW ALL PERSONS BY THESE PRESENTS, that the undersigned member of Armed Forces Insurance Exchange hereby appoints
                LT COL Michael J Yaguchi, USAF (Ret) as proxy, with full power of substitution, for and in the name of the
                undersigned, at the Annual Meeting of the members of the Exchange to be held in a virtual format from the Armed
                Forces Insurance Headquarters, on the 23rd day of June 2022, commencing at 1700 hours, with respect to the
                following: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut illum vitae sit sequi cumque maxime
                blanditiis asperiores delectus cupiditate placeat?
              </p>
              <p data-sc-field-key="8C0F914E6B074DFE8B1C9CFD6185FC34" class="txt-no">
                1. To receive and consider reports of the Attorney-in-Fact's Board of Directors.
              </p>
              <p data-sc-field-key="0F4F7BC47C7146E49735D19A62F614CB" class="txt-no">
                2. To elect a member to the Exchange's Subscribers' Advisory Committee.
              </p>
              <p data-sc-field-key="0F4F7BC47C7146E49735D19A62F614CB" class="txt-no">
                3. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, praesentium!
              </p>
            </div>
          </section>

          <div data-sc-field-key="28B1DAF4135F46BD9343237CB44724D4" class="txtbody dv-content-vote-bottom">
            <h3 data-sc-field-key="C15B7003468C4E2EBE9C09FDC504445B" class="txt-title">Candidates</h3>
            <p data-sc-field-key="917036E218AF4F18920AE6141EC9F57A" class="txt-candidate">
              Please vote for or against the candidate below:
            </p>

            <!-- Person -->
            <div class="person">
              <a href="https://afi.org/about-afi/leadership/subscribers-advisory-committee/colonel-kay-wakatake" target="_blank"
                >COL Kay Wakatake, Army, Retired</a
              >
              <label class="rdo-css">
                <input
                  type="radio"
                  name="AAA"
                  value="For"
                  data-sc-tracking="True"
                  data-sc-field-name="A"
                  data-sc-field-key="11111"
                  data-val-required='&lt;a href="https://afi.org/about-afi/leadership/subscribers-advisory-committee/colonel-kay-wakatake" target="_blank"&gt;COL Kay Wakatake, Army, Retired&lt;/a&gt; is required.'
                  data-val="true"
                />For
              </label>
              <label class="rdo-css">
                <input
                  type="radio"
                  name="AAA"
                  value="Against"
                  data-sc-tracking="True"
                  data-sc-field-name="A"
                  data-sc-field-key="11111"
                />Against
              </label>
            </div>

            <!-- Person -->
            <div class="person">
              <a href="https://afi.org/about-afi/leadership/subscribers-advisory-committee/colonel-kay-wakatake" target="_blank"
                >COL Kay Wakatake, Army, Retired</a
              >
              <label class="rdo-css">
                <input
                  type="radio"
                  name="BBB"
                  value="For"
                  data-sc-tracking="True"
                  data-sc-field-name="B"
                  data-sc-field-key="222"
                  data-val-required='&lt;a href="https://afi.org/about-afi/leadership/subscribers-advisory-committee/colonel-kay-wakatake" target="_blank"&gt;COL Kay Wakatake, Army, Retired&lt;/a&gt; is required.'
                  data-val="true"
                />For
              </label>
              <label class="rdo-css">
                <input
                  type="radio"
                  name="BBB"
                  value="Against"
                  data-sc-tracking="True"
                  data-sc-field-name="B"
                  data-sc-field-key="222"
                />Against
              </label>
            </div>

            <!-- Person -->
            <div class="person">
              <a href="https://afi.org/about-afi/leadership/subscribers-advisory-committee/colonel-kay-wakatake" target="_blank"
                >COL Kay Wakatake, Army, Retired</a
              >
              <label class="rdo-css">
                <input
                  type="radio"
                  name="CCC"
                  value="For"
                  data-sc-tracking="True"
                  data-sc-field-name="C"
                  data-sc-field-key="11111"
                  data-val-required='&lt;a href="https://afi.org/about-afi/leadership/subscribers-advisory-committee/colonel-kay-wakatake" target="_blank"&gt;COL Kay Wakatake, Army, Retired&lt;/a&gt; is required.'
                  data-val="true"
                />For
              </label>
              <label class="rdo-css">
                <input
                  type="radio"
                  name="CCC"
                  value="Against"
                  data-sc-tracking="True"
                  data-sc-field-name="C"
                  data-sc-field-key="11111"
                />Against
              </label>
            </div>
            <div class="person">
              <a href="https://afi.org/about-afi/leadership/subscribers-advisory-committee/colonel-kay-wakatake" target="_blank"
                >COL Kay Wakatake, Army, Retired</a
              >
              <label class="rdo-css">
                <input
                  type="radio"
                  name="DDD"
                  value="For"
                  data-sc-tracking="True"
                  data-sc-field-name="D"
                  data-sc-field-key="11111"
                  data-val-required='&lt;a href="https://afi.org/about-afi/leadership/subscribers-advisory-committee/colonel-kay-wakatake" target="_blank"&gt;COL Kay Wakatake, Army, Retired&lt;/a&gt; is required.'
                  data-val="true"
                />For
              </label>
              <label class="rdo-css">
                <input
                  type="radio"
                  name="DDD"
                  value="Against"
                  data-sc-tracking="True"
                  data-sc-field-name="D"
                  data-sc-field-key="11111"
                />Against
              </label>
            </div>
            <div class="person">
              <a href="https://afi.org/about-afi/leadership/subscribers-advisory-committee/colonel-kay-wakatake" target="_blank"
                >COL Kay Wakatake, Army, Retired</a
              >
              <label class="rdo-css">
                <input
                  type="radio"
                  name="EEE"
                  value="For"
                  data-sc-tracking="True"
                  data-sc-field-name="E"
                  data-sc-field-key="11111"
                  data-val-required='&lt;a href="https://afi.org/about-afi/leadership/subscribers-advisory-committee/colonel-kay-wakatake" target="_blank"&gt;COL Kay Wakatake, Army, Retired&lt;/a&gt; is required.'
                  data-val="true"
                />For
              </label>
              <label class="rdo-css">
                <input
                  type="radio"
                  name="EEE"
                  value="Against"
                  data-sc-tracking="True"
                  data-sc-field-name="E"
                  data-sc-field-key="11111"
                />Against
              </label>
            </div>

            <div data-sc-field-key="295FF5BE72504E469297021FB54A1D6F" class="contbtn">
              <input
                value="Submit Vote"
                type="submit"
                class="continue button button--large-text"
                name="fxb.ab83dbcb-dad1-44f1-b2fd-0b7d6dd6773a.327f4f7b-47c8-46b4-959d-624edf4ad4ee"
                data-sc-field-key="6D3A7C39141F41BB804D307B218C30F7"
                id="sitecoreSubmitButton"
              />
              <p data-sc-field-key="27C3E4B7441546618FA43E1710D29DFD" class="txt-bottom">
                After you click submit your vote cannot be changed.
              </p>
            </div>
          </div>
        </section>
      </div>
    </section>