<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <services>
      <register serviceType="AFI.Feature.Quote.Controllers.QuoteFormController, AFI.Feature.Quote" implementationType="AFI.Feature.Quote.Controllers.QuoteFormController, AFI.Feature.Quote" />

      <!--<register serviceType="AFI.Feature.Quote.Repository.IBusinessQuoteFormRepository, AFI.Feature.Quote" implementationType="AFI.Feature.Quote.Repository.BusinessQuoteFormRepository, AFI.Feature.Quote" />
      <register serviceType="AFI.Feature.Quote.Repository.IAPIRepository, AFI.Feature.Quote" implementationType="AFI.Feature.Quote.Repository.APIRepository, AFI.Feature.Quote" />
      <register serviceType="AFI.Feature.Quote.Repository.ICommonRepository, AFI.Feature.Quote" implementationType="AFI.Feature.Quote.Repository.CommonRepository, AFI.Feature.Quote" />
      <register serviceType="AFI.Feature.Quote.Repository.IGlobalSettingsRepository, AFI.Feature.Quote" implementationType="AFI.Feature.Quote.Repository.GlobalSettingsRepository, AFI.Feature.Quote" />
      <register serviceType="AFI.Feature.Quote.Repository.ISessionRepository, AFI.Feature.Quote" implementationType="AFI.Feature.Quote.Repository.SessionRepository, AFI.Feature.Quote" />-->

    </services>
  </sitecore>
</configuration>