#header {
  width: 100% !important;
}

.header {
  z-index: 999;
  padding-bottom: 15px !important;
}

.primary-nav {
  margin-top: 48px;
}

.primary-nav ul {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
  margin-top: 10px;
}

.header__request-quote-button {
  padding: 0 !important;
  margin-top: 50px;
  width: 180px !important;
  margin-left: auto !important;
  display: block !important;
}

.header__request-quote-button a {
  display: block;
  padding: 10px 16px !important;
  font-size: 18px !important;
  color: #fff !important;
}

.header__request-quote-button a:hover {
  color: #fff !important;
}

.field-navigationtitle {
  color: #003864;
  color: var(--color-blue-40);
  display: block;
}

.primary-nav li {
  cursor: pointer;
}

.primary-nav ul li.level1 {
  position: relative;
  padding: 10px;
}

.primary-nav ul li.level1:hover {
  background: #efefef;
}

.primary-nav ul ul {
  position: absolute;
  display: none;
  background: #efefef;
  top: 25px;
  left: 0;
  padding: 20px;
}

.primary-nav ul ul::before {
  content: "";
  width: 2000px;
  height: 100%;
  background: #efefef;
  z-index: -1;
  position: absolute;
  left: -2000px;
  top: 0;
}

.primary-nav ul ul::after {
  content: "";
  width: 2000px;
  height: 100%;
  background: #efefef;
  z-index: -1;
  position: absolute;
  right: -2000px;
  top: 0;
}

.primary-nav ul li:hover ul {
  display: block;
}

/* Top Header */
.top-header-bg {
  background: #f6f6f6;
}

.utility-search {
  position: relative;
  background: #f6f6f6;
  padding: 10px;
}

.utility-search__submit {
  position: absolute;
  background: none;
}

/* ************************
  styling by follow the sxa
************************ */
#header .row,
#header .image {
  padding: 0 !important;
}

#wrapper #header>.row {
  background-color: #fff;
}

.navigation.navigation-main.navigation-main-vertical nav {
  margin-top: 10px;
}

.navigation.navigation-main.navigation-main-vertical nav>ul li {
  background: #fff;
  padding: 0 !important;
}

.navigation a {
  color: #003864 !important;
  padding: 10px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.navigation.navigation-main.navigation-main-vertical nav>ul li:hover,
.navigation.navigation-main.navigation-main-vertical nav>ul li a:hover {
  background: #efefef !important;
}

.navigation.navigation-main .rel-level1.no-child:hover {
  background-color: #efefef;
}

.navigation.navigation-main.navigation-main-vertical nav>ul li a:hover {
  color: #0570c5 !important;
  text-decoration: none !important;

}

.navigation.navigation-mobile .rel-level1>ul {
  background: #efefef;
  border-radius: 0 !important;
}

.navigation.navigation-main .rel-level1>ul {
  top: 99%;
}

.navigation.navigation-main.navigation-main-vertical .rel-level2 {
  background: #efefef;
  text-align: left;
}

.navigation.navigation-main.navigation-main-vertical .rel-level2 a {
  color: #004976 !important;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 3px;
}

.navigation.navigation-main.navigation-main-vertical .rel-level1 ul {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  padding-left: 10px;
  max-width: 50rem !important;
  width: 580px;
}

.utility-nav__list {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.utility-nav__list a {
  color: #003864;
}

a.logo img {
  max-width: 156px !important;
  /* margin-top: 15px; */
}

.utility-nav {
  padding: 1rem 1.375rem 0.75rem !important;
  padding-left: 0 !important;
}

#header img {
  max-width: 156px !important;
}

.utility-search__submit {
  border: none !important;
  border-color: transparent !important;
  position: absolute;
  top: 18px;
  right: 17px !important;
}

.utility-search__submit .fa-search {
  font-size: 16px;
}

.utility-search__input {
  width: 100%;
}

/* 18 April */
.navigation.navigation-mobile .rel-level1>ul li a:before,
.link-list>.component-content li a:before {
  display: none !important;
}

.navigation.navigation-main .rel-level1>ul,
.navigation.navigation-mobile nav>ul {
  overflow: unset !important;
  border: none !important;
}

.header__request-quote-button a,
.link-list>.component-content li a:hover,
.link-list h1,
.link-list h2,
.link-list h3,
.link-list h4,
.link-list h5,
.link-list h6 {
  border-bottom: none !important;
}

.link-list>.component-content li a {
  padding-left: 0 !important;
}

header a,
footer a {
  color: #363636 !important;
}

.utility-nav .utility-nav__link:hover {
  color: #363636 !important;
  text-decoration: underline !important;
}

header a:hover {
  color: #0570c5 !important;
  text-decoration: none !important;
}


@media screen and (max-width: 991px) {
  #header img {
    max-width: 120px !important;
    margin: 10px 10px 0;
  }


  /* #header .col-lg-8.d-none.d-lg-block, */
  #header .nav_menu {
    display: none !important;
    position: fixed;
    top: 0;
    left: -220px;
    transition: 0.3s;
    z-index: -9999;
    /* padding: 10px; */
  }

  #header .nav_menu>.row:first-child {
    max-width: 220px;
  }

  #header .logo_wrapper {
    text-align: center;
  }

  #header .logo_wrapper img {
    max-width: 156px !important;
    width: 110px;
  }

  .navigation.navigation-main.navigation-main-vertical nav,
  .primary-nav {
    margin-top: 0;
    background: #f6f6f6;
  }

  .primary-nav {
    width: 220px;
    overflow: hidden;
    box-shadow: 0 0px 20px #0000007d;
  }

  #header .primary-nav ul {
    height: 100vh;
    display: block;
    background: none;
    /* background: #fff; */
    margin: 0 !important;
    margin-top: 15px;
  }

  #header .primary-nav ul .level1 {
    text-align: left;
    width: 100%;
    border-bottom: 0.0625rem solid #898d8d;
    background: none !important;
  }

  #header .primary-nav ul .level1:last-child {
    border-bottom: none;
  }

  #header .primary-nav ul li a {
    display: block;
    padding: 13px 16px !important;
  }

  #header .primary-nav ul .level1 ul {
    display: none !important;
    height: auto;
    column-count: 1;
    padding: 0px;
    /* padding-left: 10px; */
  }

  #header .primary-nav ul .level1.sub_menu_open ul {
    display: block !important;
    width: auto !important;
    position: unset !important;
  }

  /* .navigation.navigation-main .rel-level1.sub_menu_open>a+ul {
    display: block !important;
  } */

  .navigation.navigation-main .rel-level1.show>a+ul .navigation.navigation-main.navigation-main-vertical .rel-level1>ul>li {
    padding: 5px !important;
    max-width: 220px;
  }

  #hamburger {
    font-size: 35px !important;
    z-index: 888;
    border: 0;
    background: transparent;
    width: auto;
  }

  .hamburger__close {
    display: none !important;
  }

  body.screen_active {
    position: relative;
    transition: transform 0.3s;
    /* transform: translateX(220px); */
    /* left: 220px; */
  }

  #wrapper {
    overflow: unset !important;
    transition: transform 0.3s;
  }

  body.screen_active #wrapper {
    position: relative;
    transition: transform 0.3s;
    transform: translateX(220px);
  }

  body.screen_active main::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(rgb(0 0 0 / 20%), rgb(0 0 0 / 20%));
    z-index: 555;
  }

  body.screen_active #header .col-lg-8.d-none.d-lg-block,
  body.screen_active #header .nav_menu {
    /* left: 0; */
    display: block !important;
    z-index: 9999;
  }

  /* body.screen_active #header .nav_menu {} */

  body.screen_active #hamburger {
    position: relative;
    z-index: 999999999;
    transition: 0.3s;
  }

  body.screen_active .hamburger__open {
    display: none;
  }

  body.screen_active .hamburger__close {
    display: block !important;
  }

  #header .login-link,
  #hamburger {
    padding-top: 20px;
    color: #163a63 !important;
  }

  #hamburger {
    padding-left: 10px;
  }

  #header .login-link {
    font-size: 25px !important;
    /* padding-left: 60%; */
    text-align: right;
    padding-right: 10px;
  }
}


/* 18 May */
.header__main-wrapper,
.header__top_wrapper {
  width: 100% !important;
}


/* Arrow Addition : 11 Aug */
#header li.submenu.show a.mainAnchor {
  color: #0570c5 !important;
  color: var(--color-blue-10) !important;
}

@media screen and (max-width:991px) {
  .navigation.navigation-main.navigation-main-vertical .rel-level2 {
    background: #F6F6F6 !important;
  }

  .utility-search {
    margin: 10px;
  }

  header {
    background: #fff;
    z-index: 999;
    position: relative;
  }

  #header .primary-nav ul {
    height: 500vh;
  }

  #header li.submenu a.mainAnchor {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }

  #header li.submenu a.mainAnchor::after {
    content: '\f107';
    font-family: FontAwesome;
    color: #025699;
    color: var(--color-blue-20);
    font-size: 1.5rem !important;
    transition: .25s;
    transform: rotate(180deg);
  }

  #header li.submenu.sub_menu_open a::after {
    transform: rotate(0);
  }
}

@media screen and (min-width:992px) {
  .nav_menu li.overview {
    display: none !important;
  }
}



/* /mwsf */
#header .logo__right,
#header .logo__left {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.two__logo__left,
#header .logo__left {
  padding-right: 60px !important;
}

.two__logo__right,
#header .logo__right {
  align-self: center;
  padding-left: 60px !important;
}

.two__logo__left img,
#header .logo__left img {
  width: 182px !important;
  max-width: 90% !important;
}

.two__logo__right img,
#header .logo__right img {
  width: 200px !important;
  max-width: 90% !important;
  max-height: 140px;
  object-fit: contain;
}


@media screen and (max-width:380px) {

  .two__logo__left,
  #header .logo__left {
    padding-right: 10px !important;
  }

  .two__logo__right,
  #header .logo__right {
    padding-left: 10px !important;
  }
}