.left__text__content {
  padding-left: 0;
}

.additional_coverages_container dl {
  color: #363636;
  padding: 0;
  margin-left: 0 !important;
}

.additional_coverages_container dt {
  font-weight: bold !important;
  /* color: #004976; */
}

.additional_coverages_container dd {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.3;
}


/* Insurance Page */
.product_item_wrapper {
  margin-top: 30px;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 30px;
}

.product_item {
  width: 100% !important;
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 10px;
  align-items: self-start;
}

.product_item .product_item--icon {
  filter: invert(33%) sepia(66%) saturate(7499%) hue-rotate(194deg) brightness(94%) contrast(96%);
}

.product_item--icon:hover {
  filter: invert(12%) sepia(73%) saturate(4307%) hue-rotate(189deg) brightness(93%) contrast(101%);
}

.product_text .product_item--icon img {
  width: 96px;
}

.top-products_item p,
.product_item p {
  /* margin-top: 0.25rem; */
  font-weight: 400 !important;
  color: rgb(107 114 128) !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  margin-bottom: 12px !important;
}

p.product_item--title {
  color: rgb(55, 65, 81) !important;
  font-weight: 600 !important;
}

@media screen and (max-width:991px) {
  .product_item_wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:575px) {
  .product_item_wrapper {
    grid-template-columns: 1fr;
  }
}


/* product_text */
.product_text h2 {
  font-size: 32px !important;
  color: #003864;
  color: var(--color-blue-40);
}


.product_text .field-link a {
  border: none !important;
  text-decoration: underline !important;
}

.product_item_wrapper a {
  text-decoration: underline !important;
}

.article-content h3 {
  font-size: 1.25rem !important;
  line-height: 1.75rem;
  font-weight: 600 !important;
  color: rgb(55 65 81) !important;
  margin-bottom: 16px !important;
}

.insurance-products__card p {
  color: rgb(107 114 128) !important;
}