@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel




<h1>
        @Model.Item.Fields["Title"].ToString()
    </h1>


