@using Sitecore.Mvc
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel

<!-- HAMBURGER -->
<button id="hamburger" class="hamburger hamburger--spring js-offscreen-trigger" type="button">
    <i class="fa-solid fa-bars hamburger__open"></i>
    <i class="fa-solid fa-xmark hamburger__close"></i>
</button>