<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
	  <add key="ReCaptcha.Secret" value="6LfR7R4gAAAAAAde95rQNRHLIcGKFiVIzWyeRvYU" />
	  <add key="ReCaptcha.SiteKey" value="6LfR7R4gAAAAAJhdtt4xLoULHMVubpGhEYCN6SYR" />
	  <add key="WEBQUOTESERVICE_ENDPOINT" value="http://sapashq02.afi.local/AgentPortal/Services/WebQuoteService.svc" />
	  <add key="SMARTYSTREET_AUTHID" value="b38bc5eb-40ad-fc8a-7764-f3328abf9d03" />
	  <add key="SMARTYSTREET_AUTHTOKEN" value="o4yakvZwinfZlRFRRqBM" />
	  <add key="ChromeVINUser" value="293936" />
	  <add key="ChromeVINPass" value="34ebb46adaa746ca" />
	  <add key="ChromeVINEndpoint" value="http://services.chromedata.com:80/Description/7a" />

	  <!-- BlockCountryList -->
	  <add key="BlockCountryList" value="BD,PK,EG,DZ" />
	  <add key="DeniedTemplate" value="/access-denied.html" />
	  <add key="IpInfoAPIKey" value="7e1fa8d9d76221" />
	  <add key="IpInfoAPIURL" value="https://ipinfo.io" />

	  <!-- SMTP Start -->
	  <add key="SMTPhost" value="smtp.sendgrid.net" />
	  <add key="SMTPport" value="587" />
	  <add key="SMTPuserName" value="apikey" />
	  <add key="SMTPpassword" value="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" />
	  <add key="SMTPauthenticationMethod" value="login" />
	  <add key="SMTPstartTls" value="true" />
	  <add key="SMTPfromEmail" value="email@armedforcesinsurance.org" />
	  <add key="ClaimTestMailXX" value="mehedi4055@gmail.com" />
	  <!-- SMTP End -->


	  <add key="MYAPIURL" value="https://qh-api.azurewebsites.net/" />
	  <add key="MYAPIURLAuto" value="https://qh-auto-api.azurewebsites.net/" />
	  <add key="MYAPIURLUmbrella" value="https://qh-umbrella-api.azurewebsites.net/" />
	  <add key="MYAPIURLRenter" value="https://qh-renter-api.azurewebsites.net/" />
	  <add key="MYAPIURLDWELLING" value="https://qh-dwelling-api.azurewebsites.net/" />
	  <add key="ProdEmailConfig" value="Y" />

	  <add key="MSB_Username" value="AFI_ELUser" />
	  <add key="MSB_Password" value="Test27" />
	  <add key="MSB_ServiceLink" value="http://rcttest7.msbexpress.net/afi/ExpressLync4/SOAP/ValuationService.svc?wsdl" />
	  <add key="LN_ServiceLink" value="https://t.decisioning.lexisnexis.com/armedforcesins/risk" />
	  <add key="LN_Username" value="armedforces_test" />
	  <add key="LN_Password" value="bt6I73hVE" />
	  <add key="LN_AccountNo" value="503266RSK" />
	  <add key="QHAEIKEY" value="xbC3mALXw9SnYJuzfH5P7B2aUMrQg8Tj" />

	  <!--EXM Start -->
	  <add key="EXMCSVFolderPath" value="C:\\EXM\\WelcomeJourney" />
	  <add key="EXMCSVDestinationFolderPath" value="C:\\EXM\\DestinationCSVFiles" />
	  <add key="EXMMembersCSV" value="WelcomeJourneyMembers" />
	  <add key="EXMMemberPoliciesCSV" value="WelcomeJourneyPolicies" />
	  <add key="EXMWJCSV" value="WelcomeJourneyVwMembersNotActive" />
	  <add key="EXMAFIConnectCSV" value="WelcomeJourneyVwAFIConnect" />

	  <!--  <add key="EXMMemberListId" value="{7CDB419D-7E2F-4CB2-8F99-6019A962A7E4}"/> -->
	  <add key="EXMMemberListId" value="{a37d2a23-4d1c-430e-c390-efd4ff1ff9d6}" />
	  <add key="EXMDedicatedAgentListId" value="{C0FD1B59-7D70-49F5-CD7C-3AB447F312C7}" />
	  <add key="EXMMWJListId" value="{33055C1E-C74D-4362-BDAB-881EAEC80642}" />
	  <add key="EXMSource" value="AFIMemberAZ" />
	  <add key="EXMDedicatedSource" value="AFIDedicatedAgent" />
	  <!-- EmailStatus =0 means Test email like melissapiotrmiller+wj01@gmail.com 
       Otherwise it will be real email  -->
	  <add key="EmailStatus" value="0" />

	  <add key="EXMTestMail_3" value="afiexmtest@yopmail.com" />

	  <add key="EXMAFIConnectListId" value="{4642A7BE-8B42-475A-8094-F583DFEC3AD7}" />
	  <add key="EXMListId" value="{4642A7BE-8B42-475A-8094-F583DFEC3AD7}" />

	  <add key="EXMExcludeList" value="{BC5D40C2-4975-4CE0-B2E6-B82A99C40A1A}" />

	  <add key="EXMUnsubscriptionUrl" value="https://afi.org/unsubscription" />
	  <add key="EXMDomainUrl" value="https://afi.org/" />
	  <add key="Social_fb" value="https://www.facebook.com/ArmedForcesInsurance/" />
	  <add key="Social_tw" value="https://twitter.com/armedforcesins?lang=en" />
	  <add key="Social_ln" value="https://www.linkedin.com/company/armed-forces-insurance" />
	  <add key="ServiceEmail" value="service@afi.org" />
	  <add key="DeliveryEmail" value="email@armedforcesinsurance.org" />
	  <add key="ReferralUrl" value="https://afi.org/referral-form" />
	  <add key="FeedbackUrl" value="https://www.afi.org/Submit-Feedback" />

	  <add key="PrivacyUrl" value="https://afi.org/about-afi/privacy-policy" />
	  <add key="TermsUrl" value="https://afi.org/about-afi/terms-of-use" />
	  <!--Renter 2 Payment Start -->
	  <add key="isLocal" value="0" />
	  <!-- 1 = true  0 = false-->
	  <add key="CPOSigKey1" value="5MKGLB57TQX770FT" />
	  <add key="CPOSigKey2" value="PXXCC09HF462Y76R" />
	  <add key="clientKey" value="4983998325" />
	  <add key="PaymentClientKey" value="4983998325" />
	  <add key="liveMode" value="false" />
	  <!-- true = PROD , false = UAT -->
	  <!--Renter 2 Payment Start END -->

	  <!--Additional Renter Payment for Azure -->
	  <add key="IsAzureEnvironment" value="true" />
	  <!-- true = Azure , false = Rackspace -->
	  <add key="PaymentPrvKeyPath" value="~/Content/PaymentContent/4983998325.pem" />
	  <add key="PaymentPvtKeyPwd" value="AlacClient4983998325" />
	  <add key="PaymentPubKeyPath" value="~/Content/PaymentContent/coserver_pub.pem" />
	  <!--Additional Renter Payment for Azure END-->

	  
	  <!-- Service Bus specific app setings for messaging connections -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.4" newVersion="7.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.49.0" newVersion="1.11.49.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Xml" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
</configuration>